body {
    background-color: black;
    color: black;
}

header {
    padding: 30px;
    clear: both;
    text-align: center;
    background-color: black;
    color: white;
}

form    {
    text-align: center;
}

.hide {
    display: none;
  }

footer {
    padding: 30px;
    clear: both;
    text-align: center;
    background-color: black;
    color: white;
}
